.side-bar{
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 62px;
  left: 0px;
  bottom: 0;
  width: 80px;
  background-color: white;

}
.side-bar-link{
  height: 85px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.side-bar-link:hover{
  background-color: lightgray;
  cursor: pointer;
}
.side-bar-link img{
  height: 25px;
}
.side-bar-link p{
  margin-top: 5px;
  font-family: roboto;
  font-size: smaller;
  font-weight: 400;
}
